*.classpath
*.project
*.cproject
*.settings
*project.properties
*/bin
*/gen

# Symbolic links
java/jni
java/src/com/android/inputmethodcommon
java/src/com/android/tecla

#Libraries
java/libs

#Native files
java/obj
